.homepage{
    overflow: hidden;
}
.slider{
    margin-bottom: 5rem;
}
.slider img{
    max-height: 600px;
}
.slider h1{
    letter-spacing: 1rem;
}
.kategori-home{
    display: block;
    text-align: center;
}
.kategori-card{
    margin-right: auto;
    margin-left: auto;
    width: 15.9rem;
    margin-bottom: 2rem;
    border: none;
    position: relative;
}
.kategori-card:hover img{
    opacity: 0.4;
}
.kategori-card img{
    height: 20rem;
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.kategori-card1 img, .kategori-card2 img{
    height: 17rem;
}
.kategori-card1, .kategori-card2{
    margin-top: 5rem;
    margin-top: 0;
    height: 17rem;
}
.kategori-card-body{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 8rem;
    height: 20rem;
    width: 100%;
}
.kategori-card-body:hover{
    opacity: 1;
    cursor: pointer;
}
.kategori-card-body h1{
    font-weight: 50px;
    letter-spacing: 1rem;
}
.kategori-card1, .kategori-card2{
    border: none;
}
.judul-kategori-home{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-style: bold;
}
.btn-swall{
    border: 1px solid gray;
    border-radius: 0.5rem;
    background-color: white;
    padding: 0 10rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.btn-swall:hover{
    background-color: gray;
    color: white;
}
.aksesoris-home{
    padding-top: 6rem;
    color: white;
}
.sepatu-home{
    background-color:#d68318;
}
.km-home{
    background-color: #c4a487;
}
.tas-home{
    background-color: #bdbdbd;
}
.topi-home{
    background-color: #657574;
}
.btn-ak-home{
    margin-top: 3rem;
}