@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
    
  box-sizing: border-box;
}


/*Login CSS*/
.box-form{
    
    padding-top: 8vw;
    padding-left: 15%;
    width: 80vw;
}
.dasar{
    background-color: #A77AD4;
    height: max-content;
    padding-bottom: 8vw;
}
.form {
  background: #D9BAF6 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: max-content;
  text-align: center;
  padding-top: 5vw;
  border-radius: 20px;
}
.form-control{
    margin-left: 23vw;
    text-align: center;
    width: 20vw;
}
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 30px;
    color: #ECF3E8;
    margin: 0;
  }
  
  .forgot-password a {
    color: #ECF3E8;
    margin-right: 2vw;
    margin-left: 2vw;
    
  }
  .btn{
      background-color: #ECF3E8;
      color: black;
      width: auto;
  }
 
  /*Navbar CSS*/
  .cari{
      margin-right: 5vw;
  }
  .login{
      margin-right: 1vw;
  }

  /* about css*/
  .back{
    background-image: url("https://cdn.pixabay.com/photo/2017/06/21/20/51/tshirt-2428521_1280.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  

 /*Home CSS*/
.homepage{
    overflow: hidden;
}
.slider{
    margin-bottom: 5rem;
}
.slider img{
    max-height: 600px;
}
.slider h1{
    letter-spacing: 1rem;
}
.kategori-home{
    text-align: center;
}
.kategori-card{
    margin-right: auto;
    margin-left: auto;
    width: 15.9rem;
    margin-bottom: 2rem;
    border: none;
    position: relative;
}
.kategori-card:hover img{
    opacity: 0.4;
}
.kategori-card img{
    height: 20rem;
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.kategori-card1 img, .kategori-card2 img{
    height: 17rem;
}
.kategori-card1, .kategori-card2{
    margin-top: 5rem;
    margin-top: 0;
    height: 17rem;
}
.kategori-card-body{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 8rem;
    height: 20rem;
    width: 100%;
}
.kategori-card-body:hover{
    opacity: 1;
    cursor: pointer;
}
.kategori-card-body h1{
    font-weight: 50px;
    letter-spacing: 1rem;
}
.kategori-card1, .kategori-card2{
    border: none;
}
.judul-kategori-home{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-style: bold;
}
.btn-swall{
    border: 1px solid gray;
    border-radius: 0.5rem;
    background-color: white;
    padding: 0 10rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.btn-swall:hover{
    background-color: gray;
    color: white;
}
.aksesoris-home{
    padding-top: 6rem;
    color: white;
}
.sepatu-home{
    background-color:#d68318;
}
.km-home{
    background-color: #c4a487;
}
.tas-home{
    background-color: #bdbdbd;
}
.topi-home{
    background-color: #657574;
}
.btn-ak-home{
    margin-top: 3rem;
}
.aksesoris-g-home{
    position: relative;
}
.kategori-card-body1, .kategori-card-body2{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 17rem;
    width: 100%;
}
.kategori-card-body1:hover, .kategori-card-body2:hover{
    opacity: 0.7;
    cursor: pointer;
}
.kategori-card-body1:hover{
    width: 300%;
}
