
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
    box-sizing: border-box;
}
body{
    margin-top: 2.5rem;
}
/* Navbar */
.navbar a{
    color: black !important;
}
.navbar a:hover{
    color: #09c !important;
}
.navbar .brand-nav:hover{
    border-top: none;
}
.navbar .dropdown-item:hover{
    background-color: #09c;
    color: white !important;
}
.search-nav{
    width: 50%;
    margin-right: 2rem;
}
.icon-nav{
    color: #09c;
}
.icon-nav:hover{
    color: #1c2331;
}
.login-nav, .cart-nav{
    margin-right: 1rem;
}
/*Login CSS*/
.box-form{
    padding-top: 8vw;
    padding-left: 15%;
    width: 80vw;
}
.dasar{
    background-color: #A77AD4;
    height: max-content;
    padding-bottom: 8vw;
}
.form {
  background: #D9BAF6 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: max-content;
  text-align: center;
  padding-top: 5vw;
  border-radius: 20px;
}
.form-control{
    margin-left: 23vw;
    text-align: center;
    width: 20vw;
}
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 30px;
    color: #ECF3E8;
    margin: 0;
  }
  
  .forgot-password a {
    color: #ECF3E8;
    margin-right: 2vw;
    margin-left: 2vw;
    
  }
  .btn{
      background-color: #ECF3E8;
      color: black;
      width: auto;
  }
  .back{
    height: 70%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
  }
  .gbr{
    height: 50vw;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .loogo-oszaa img{
    text-align: center;
    position: absolute;
    margin-top: -8%;
    left: 50%;
    border-radius: 100%;
    border: 10px solid white;
    transform: translate(-50%, -50%);
    height: 30vw;
    width: 30vw;
  }
  .header-about{
      font-family: 'Segoe UI';
      font-weight: bold;
      font-size: 3vw;
      margin-top: 6vw;
      text-align: center;
  }
  .deskripsi{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      color: #665555;
  }
  .akun{
      color:#544b4b;
  }

  /*Maps CSS*/
  .maps{
      margin-left: 5vw;
      margin-top: 2vw;
  }
  .icon{
      margin-left: 60%;
      margin-top: 2vw;
  }

/* Footer */
.footer{
    margin-top: 3rem;
    background-color: #1c2331;
    color: white;
    padding-top: 4rem;
}
.footer .title, .footer .title-brands{
    border-bottom: 2px solid #09c;
    margin-bottom: 1.5rem;
    width: 7rem;
}
.footer .title{
    margin-left: 2.3rem;
}
.footer li a, .footer-copyright a{
    color: white;
}
.footer li a:hover, .footer-copyright a:hover{
    text-decoration: none;
    color: white;
}
.footer li a:hover{
    border-bottom: 2px solid #09c;
}
.oszaa-footer{
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
}
.alamat-footer{
    display: flex;
}
.icon-footer{
    margin-top: 0.3rem;
}
.alamat-footer p{
    padding-left: 1rem;
}
.icon-ig-footer, .icon-twit-footer, .icon-fb-footer{
    margin-right: 0.5rem;
}
.icon-ig-footer:hover, .icon-twit-footer:hover, .icon-fb-footer:hover{
    cursor: pointer;
}
.icon-ig-footer:hover{
    color: rgb(195, 42, 163);
}
.icon-twit-footer:hover{
    color: #1da1f2;
}
.icon-fb-footer:hover{
    color:#3b5998;
}
.footer-copyright{
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
}
.icon-cp-footer{
    margin-bottom: 0.3rem;
    margin-right: 0.5rem;
    margin-left: 0.3;
}
 /*Home CSS*/
.homepage{
    overflow: hidden;
}
.slider{
    margin-bottom: 5rem;
}
.slider img{
    max-height: 600px;
}
.slider h1{
    letter-spacing: 1rem;
}
.kategori-home{
    text-align: center;
    letter-spacing: 0.3rem;
}
.produk-home{
    margin-bottom: 2rem;
}
.kategori-card{
    margin-right: auto;
    margin-left: auto;
    width: 15.9rem;
    margin-bottom: 2rem;
    border: none;
    position: relative;
}
.kategori-card:hover img{
    opacity: 0.4;
}
.kategori-card img{
    height: 20rem;
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.kategori-card1 img, .kategori-card2 img{
    height: 17rem;
}
.kategori-card1, .kategori-card2{
    margin-top: 5rem;
    margin-top: 0;
    height: 17rem;
}
.kategori-card-body{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 8rem;
    height: 20rem;
    width: 100%;
}
.kategori-card-body:hover{
    opacity: 1;
    cursor: pointer;
}
.kategori-card-body h1{
    font-weight: 50px;
    letter-spacing: 1rem;
}
.kategori-card1, .kategori-card2{
    border: none;
}
.judul-kategori-home{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-style: bold;
}
.btn-swall{
    color: #09c;
    border: 1px solid white;
    border-radius: 0.5rem;
    background-color: white;
    padding: 0.15rem 10rem;
}
.btn-swall:hover{
    background-color: #09c;
    color: white;
}
.aksesoris-home{
    padding-top: 6rem;
    color: white;
}
.judul-aksesoris-home{
    margin-top: 3rem;
}
.sepatu-home{
    background-color:#d68318;
}
.km-home{
    background-color: #c4a487;
}
.tas-home{
    background-color: #bdbdbd;
}
.topi-home{
    background-color: #657574;
}
.btn-ak-home{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.aksesoris-g-home{
    position: relative;
}
.kategori-card-body1, .kategori-card-body2{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 17rem;
    width: 100%;
}
.kategori-card-body1:hover, .kategori-card-body2:hover{
    opacity: 0.7;
    cursor: pointer;
}
.kategori-card-body1:hover{
    width: 300%;
}

/* Katalog CSS */
.judul-katalog{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-style: bold;
    text-align: center;
}

/* Promo CSS */
.judul-promo{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-style: bold;
    text-align: center;
}

/* Pagination CSS*/
.pagination{
    float: right;
}