
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
    box-sizing: border-box;
}
body{
    margin-top: 2.5rem;
}
.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link{
    background-color: #09c !important;
    color: white;
}
/* Navbar */
.navbar a{
    color: black !important;
    border-top: 2px solid transparent;
}
.navbar a:hover{
    border-top: 2px solid #09c;
}
.navbar .brand-nav, .navbar .brand-nav:hover{
    border-top: none;
}
.navbar .dropdown-item:hover{
    background-color: #09c;
    color: white !important;
}
.search-nav{
    width: 50%;
    margin-right: 2rem;
}
.navbar .icon-nav{
    color: #09c !important;
    border-top: none;
}
.navbar .icon-nav:hover{
    color: #1c2331 !important;
    border-top: none;
}
.login-nav, .cart-nav{
    margin-right: 1rem;
}
/* Footer */
.footer{
    margin-top: 3rem;
    background-color: #1c2331;
    color: white;
    padding-top: 4rem;
}
.footer .title, .footer .title-brands{
    border-bottom: 2px solid #09c;
    margin-bottom: 1.5rem;
    width: 7rem;
}
.footer .title{
    margin-left: 2.3rem;
}
.footer li a, .footer-copyright a{
    color: white;
}
.footer li a:hover, .footer-copyright a:hover{
    text-decoration: none;
    color: white;
}
.footer li a:hover{
    border-bottom: 2px solid #09c;
}
.oszaa-footer{
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
}
.alamat-footer{
    display: flex;
}
.icon-footer{
    margin-top: 0.3rem;
}
.alamat-footer p{
    padding-left: 1rem;
}
.icon-ig-footer, .icon-twit-footer, .icon-fb-footer{
    margin-right: 0.5rem;
}
.icon-ig-footer:hover, .icon-twit-footer:hover, .icon-fb-footer:hover{
    cursor: pointer;
}
.icon-ig-footer:hover{
    /* color: linear-gradient(to right, #f05053 80%, #e1eec3); */
    color: rgb(195, 42, 163);
}
.icon-twit-footer:hover{
    color: #1da1f2;
}
.icon-fb-footer:hover{
    color:#3b5998;
}
.footer-copyright{
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
}
.icon-cp-footer{
    margin-bottom: 0.3rem;
    margin-right: 0.5rem;
    margin-left: 0.3;
}
/* Sidenav */
.sidebar{
    margin-right: 3rem;
}
.sidenav h5{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.sidenav .btn-sortby{
    margin-left: 0;
    background-color: #09c !important;
    padding: 1rem;
}
.sidenav .icon-side{
    margin-left: 1rem;
}
.sortby .dropdown-item:hover{
    background-color: #09c;
    color: white;
}
.warna{
    display: flex;
    margin-bottom: 0.5rem;
}
.warna:hover{
    cursor: pointer;
}
.sidenav .warna-item{
    margin-right: 0.5rem;
    border-radius: 50%;    
}
.warna-item{
    width: 1rem;
    height: 1rem;
}
.warna-item:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 ;
}
.sidenav .white{
    border: 0.5px solid black;
}
.sidenav .ukuran, .detail-katalog .ukuran{
    display: flex;
}
.sidenav .ukuran-item, .detail-katalog .ukuran-item{
    padding: 0.5rem;
    margin-left: 0;
    background-color: transparent !important;
    color: black;
    border: 1px solid #09c;
    box-shadow: none;
}
.sidenav .ukuran-item:hover,
.detail-katalog .ukuran-item:hover{
    color: black;
}
/*Login CSS*/
.box-form{
    padding-top: 8vw;
    padding-left: 15%;
    width: 80vw;
}
.dasar{
    background-color: #A77AD4;
    height: max-content;
    padding-bottom: 8vw;
}
.form {
  background: #D9BAF6 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: max-content;
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 2vw;
  border-radius: 20px;
}
.form-control{
    margin-left: 23vw;
    text-align: center;
    width: 20vw;
}

.cek{
    width: 100%;
    margin-left: 10%;
    text-align: left;
    margin-top: 10%;
}
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 30px;
    color: #ECF3E8;
    margin: 0;
  }
  
  .forgot-password a {
    color: #ECF3E8;
    margin-right: 2vw;
    margin-left: 2vw;
    
  }
  .btn{
      background-color: #ECF3E8;
      color: black;
      width: auto;
  }
  .log,
  .log a {
        text-align: center;
        color: #ECF3E8;
  }
  
 
  /*Navbar CSS*/
  .cari{
      margin-right: 5vw;
  }
  .login{
      margin-right: 1vw;
  }

  /* about css*/
  .back{
    height: 70%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
  }
  .gbr{
    height: 50vw;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .loogo-oszaa img{
    text-align: center;
    position: absolute;
    margin-top: -8%;
    left: 50%;
    border-radius: 100%;
    border: 10px solid white;
    transform: translate(-50%, -50%);
    height: 30vw;
    width: 30vw;
  }
  .header-about{
      font-family: 'Segoe UI';
      font-weight: bold;
      font-size: 3vw;
      margin-top: 6vw;
      text-align: center;
  }
  .deskripsi{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      color: #665555;
  }
  .akun{
      color:#544b4b;
  }

  /*Maps CSS*/
  .maps{
      margin-left: 5vw;
      margin-top: 2vw;
      width: 95% !important;
  }
  .map{
      padding-bottom: 25vw;
  }
  .icon{
      margin-left: 60%;
      margin-top: 2vw;
  }

 /*Home CSS*/
.homepage{
    overflow: hidden;
}
.slider{
    margin-bottom: 5rem;
}
.slider img{
    max-height: 600px;
}
.slider h1{
    letter-spacing: 1rem;
}
.kategori-home{
    text-align: center;
    letter-spacing: 0.3rem;
}
.produk-home{
    margin-bottom: 2rem;
}
.kategori-card{
    margin-right: auto;
    margin-left: auto;
    width: 15.9rem;
    margin-bottom: 2rem;
    border: none;
    position: relative;
}
.kategori-card:hover img{
    opacity: 0.4;
}
.kategori-card img{
    height: 20rem;
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.kategori-card1 img, .kategori-card2 img{
    height: 17rem;
}
.kategori-card1, .kategori-card2{
    margin-top: 5rem;
    margin-top: 0;
    height: 17rem;
}
.kategori-card-body{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 8rem;
    height: 20rem;
    width: 100%;
}
.kategori-card-body:hover{
    opacity: 1;
    cursor: pointer;
}
.kategori-card-body h1{
    font-weight: 50px;
    letter-spacing: 1rem;
}
.kategori-card-body a,
.kategori-card-body a:hover{
    color: black;
}
.kategori-card1, .kategori-card2{
    border: none;
}
.judul-kategori-home{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-style: bold;
}
.judul-kategori-home a{
    color: black;
}
.btn-swall{
    color: #09c;
    border: 1px solid white;
    border-radius: 0.5rem;
    background-color: white;
    padding: 0.15rem 10rem;
}
.btn-swall:hover{
    background-color: #09c;
    color: white;
}
.aksesoris-home{
    padding-top: 6rem;
    color: white;
}
.judul-aksesoris-home{
    margin-top: 3rem;
}
.sepatu-home{
    background-color:#d68318;
}
.km-home{
    background-color: #c4a487;
}
.tas-home{
    background-color: #bdbdbd;
}
.topi-home{
    background-color: #657574;
}
.btn-ak-home{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.aksesoris-g-home{
    position: relative;
}
.kategori-card-body1, .kategori-card-body2{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 17rem;
    width: 100%;
}
.kategori-card-body1:hover, .kategori-card-body2:hover{
    opacity: 0.7;
    cursor: pointer;
}
.kategori-card-body1:hover{
    width: 300%;
}

/* Katalog CSS */
.bg-katalog {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.judul-katalog{
    background-image: url("/images/katalog.jpg");
}
.judul-pria{
    background-image: url("/images/katalog-pria.jpg");
    padding-top: 15rem;
}
.judul-wanita{
    background-image: url("/images/katalog-wanita.jpg");
}
.bg-katalog .content{
    top:3.5rem;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    letter-spacing: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}
.judul-katalog .content{
    width: 100%;
    padding: 10rem 0;
}
.judul-pria .content{
    width: 100%;
    padding: 1rem;
    bottom: 0;
}
.judul-wanita .content{
    width: 38%;
    padding: 10rem 0;
}
.bg-katalog .content h1{
    font-size: 3rem;
}
.list-katalog{
    margin-bottom: 2rem;
}
.img-katalog{
    height: 22rem;
}
.text-katalog{
    padding: 0;
    display: flex;
}
.text-katalog .nama{
    padding: 0;
}
.text-katalog .title{
    padding-left: 0.5rem;
    padding-top: 0.7rem;
    color: black;
}
.checked{
    color: orange;
}
.text-katalog .icon-star{
    margin-left: 0.5rem;
}
.text-katalog .harga{
    padding-top: 0.7rem;
    font-weight: bold;
    color: black;
}
/* katalog in */
.detail-katalog{
    margin-top: 3rem;
}
.detail-katalog .harga{
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.detail-katalog img{
    height: 27rem;
}
.detail-katalog .desc-katalog{
    text-align: center;
    padding-left: 5rem;
}
.desc-katalog .icon-star{
    margin-bottom: 1rem;
}
.detail-katalog .warna-item{
    margin-top: 0.25rem;
    margin-left: 0.5rem;
}
.detail-katalog .ukuran-item{
    margin-left: 0.2rem;
    height: 2rem;
    padding-top: 0.4rem;
}
.detail-katalog .ukuran p{
    padding-top: 0.6rem;
}
.detail-katalog .ukuran{
    margin-bottom: 3rem;
}
.detail-katalog .add-cart button{
    background-color: #09c !important;
}
.detail-katalog .rincian{
    text-align: center;
}
.detail-katalog .rincian-custom{
    background-color: white;
    border: none;
    padding-top: 1rem;
    width: 100%;
}
.detail-katalog .rincian-detail{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
}
.detail-katalog .rincian .title{
    box-shadow: none;
}
/* Aksesoris */
.judul-aksesoris{
    background-image: url("/images/bg-aksesoris.jpg");
}
.judul-aksesoris .content{
    width: 100%;
    padding: 10rem 0;
}
/* Promo CSS */
.judul-promo{
    background-image: url("/images/bg-promo.jpg");
}
.judul-promo .content{
    width: 100%;
    padding: 7rem 0;
}
.promopage .mdl-img{
    margin-bottom: 1rem;
}
/* Pagination CSS*/
.pagination{
    float: right;
}


/* for mobile */
@media only screen and (max-width: 768px){
    .bg-katalog .content h1, .bg-katalog .content h3{
        font-size: unset;
    }
}
/* for tablet */
@media only screen and (max-width: 992px){
    .judul-wanita .content{
        width: 100%;
    }
}    
/* admin CSS */